*{
   margin: 0px;
   padding: 0px;
   font-family: Helvetica;
   
}
.titulo{
background-color: #00A6FB;
height: 55px;
}
.corpo{
background-color: #eee;
border-top: 8px solid #00A6FB;
}
.pesquisar{
background-color: #fff;
width: 750px;
height: 28px;
margin-left: 50px;
margin-right: 150px;
font-size: 20px;
text-align: left;
border-radius: 10px;
border-color:#000000;
}
.cadastro{
background-color: #116D9C;
margin-right: 30px;
height: 30px;
width: 100px;
font-size: 15px;
border-color: #116D9C;
color: #fff;

}
.cadastro:hover{
transform: scale(1.1);
transition: all 0.5s;
background-color: #00A6FB;
border-color: #00A6FB;
}
.login{
background-color: #00A6FB; 
height: 30px;
width: 100px;
font-size: 15px;
border-color: #00A6FB;
color: #fff;
}
.login:hover{
transform: scale(1.1);
transition: all 0.5s;
background-color: #116D9C;
border-color: #116D9C;
}
.texto {
font-size: 22px;
}
.texto2{
font-size: 30px;
margin-left: 60px;
max-height: 100px;
width: 400px;
}
.buton{
width: 210px;
height: 180px;
margin-left: 60px;
margin-right: 40px;
border-color: #fff;
background-color: solid #fff;
font-size: 15px;
border-radius: 10px;
font-size: 25px;

}
.buton:hover{
transform: scale(1.1);
transition: all 0.5s;
background-color: #00A6FB;
border-color: #00A6FB;
}
.linha1{
margin-left: 63px;


}
.linha2{
margin-left: 450px;

}
.linha3{
margin-left: 900px;

}

.botoes{
   border: 10px solid transparent;
}

.img1{
   margin-left: 15px;
   height: 50px;
   width: 160px;

}


.rodape{
   text-align: left;
   padding: 14px;
   background-color: #00A6FB;
   margin-top: 24px;
   color: #fff;
}

body {
   background: url(../imagens/imagemfundo.png) no-repeat center center fixed;
   background-size: cover;
   height: 100px;
   
}


.butao{
   background-color: transparent;
   border-color: transparent;
   margin-right: 120px;
   margin-left: 50px;
   font-size: 30px;
   padding: 10px;
}

